
@{
    ViewBag.Title = "Soporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <!--Inicio de las migas de pan-->
            <div class="form-group row x_title">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="control-label"><h3>Unidad de Soporte Técnico (UTS)</h3></label>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center ocultarImpresion">
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-cog"></i> Soporte Técnico</li>
                    </ol>
                </div>
            </div>
            <!--Final de las migas de pan-->
            <!-- end form seach -->
            <!--Inicio de la tabla tickets-->
            <div class="x_content">
                <div class="table-responsive">
                    <div id="resultados"></div>
                    <div class="outer_div">
                        <table class="table table no-margin table-bordered table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <!--Titulo de la tabla-->
                                    <th class="column-title">Nombre</th>
                                    <th class="column-title">Número Telefónico</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Alejandro Sánchez Rivera (Coordinador Soporte Técnico)</td>
                                    <td class="">Fijo: 2234-3236 ext. 3303</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Monge Carvajal Marco Antonio (Soporte Técnico)</td>
                                    <td class="">Fijo: 22343236 Ext 3291</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Jasson Chacón Salazar (Soporte Técnico)</td>
                                    <td class="">Fijo: 2527-2525</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Marco Cerdas Jarquín(Soporte Técnico)</td>
                                    <td class="">Fijo: 2527-2285 o  2234-3236 ext. 3964</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Diego Trejos Villalobos</td>
                                    <td class="">Fijo: 2527-2764</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Giovanni Quesada Vásquez</td>
                                    <td class="">Fijo: 2527-2764</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Carolina Picado Pereira</td>
                                    <td class="">Fijo: 2234-3236  ext. 3299</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Hazel Hidalgo Castro (Auxiliar Administrativo 2)</td>
                                    <td class="">Fijo: 2527-2285</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Julio Navarro Cordero (Técnico Especializado)</td>
                                    <td class="">Fijo: 2234-3236 ext 3978</td>
                                </tr>
                                <tr class="even pointer">
                                    <!--Resultado de la primera fila de la tabla-->
                                    <td class="">Miguel Vargas Solano (Técnico Especializado)</td>
                                    <td class="">Fijo: 2234-3236 ext 3980</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /ajax -->
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!--Vamos agregar nuestros articulos-->
                <div class="image view">
                    <img class="img-thumbnail" style="width: 100%; display: block;" src="~/Content/img/soporte.jpg" alt="image" />
                </div>
            </div>
            <!--Fin de la tabla unidad de soporte técnico-->
        </div>
    </div>
</div>

