
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ParentController = "Account";
    ViewBag.ParentAction = "Profile";
    ViewBag.ParentTitle = "Mi Perfil";
}

<h2>Error</h2>
@ViewBag.errorMesage
